<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{#ifCond nowNavTab 'restaurant'}}active{{/ifCond}}" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond nowNavTab 'feeds'}}active{{/ifCond}}" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond nowNavTab 'userTop'}}active{{/ifCond}}" href="/users/top">美食達人</a>
  </li>
</ul>

<br />
<br />