{{#if isEditable}}
  <form class="form-signin" action="/password?_method=PUT" method="POST" style="width: 100%;">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
    </div>
    <div class="form-label-group">
      <label for="inputPassword">Old Password</label>
      <input type="password" name="oldPassword" class="form-control" placeholder="Old Password" required>
    </div>
    <div class="form-label-group">
      <label for="inputPassword">New Password</label>
      <input type="password" name="newPassword" class="form-control" placeholder="New Password" required>
    </div>
    <div class="form-label-group">
      <label for="inputPasswordCheck">New Password Check</label>
      <input type="password" name="newPasswordCheck" class="form-control" placeholder="New Password Check" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{{else}}
  <p class="text-danger">Sorry, You don't have edit password permission during test time.</p>
{{/if}}